### Transforming Raw Dataset for Processing

In [2]:
# Imprort Necessary Libraries
import pandas as pd
import os
import numpy as np

In [3]:
# Inputs
root_dir = '../dsp_intent_analyzer_dataset/forms'
filenames = [   '001',
                '002',
                '003'
            ]

In [4]:
# Extract Data
csv_name = filenames[0]
csv_file = os.path.join(root_dir,f'{csv_name}.csv')
intent_data = pd.read_csv(csv_file)
intent_data.head()

,Timestamp,"Name (Format: Arciaga, Jerico)",001 Task 1 Gazed Objects [backpack],001 Task 1 Gazed Objects [umbrella],001 Task 1 Gazed Objects [tennis racket],001 Task 1 Gazed Objects [utensils],001 Task 1 Gazed Objects [bowl],001 Task 1 Gazed Objects [bottle],001 Task 1 Gazed Objects [cup],001 Task 1 Gazed Objects [fruits],...,001 Task 6 Gazed Objects [utensils],001 Task 6 Gazed Objects [bowl],001 Task 6 Gazed Objects [bottle],001 Task 6 Gazed Objects [cup],001 Task 6 Gazed Objects [fruits],001 Task 6 Gazed Objects [sandwich],001 Task 6 Gazed Objects [laptop],001 Task 6 Gazed Objects [clock],001 Task 6 Gazed Objects [book],001 Task 6 Task Category
0,2/24/2020 3:47:28,"Quiatchon, Pauline Rose",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Video 1, Video 2, Video 3","Video 1, Video 2, Video 3",NaN,NaN,NaN,NaN,NaN,Drink
1,2/24/2020 6:35:26,"Adamos, Jedd",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Video 1, Video 2, Video 3",NaN,"Video 1, Video 2, Video 3","Video 1, Video 2, Video 3",NaN,NaN,NaN,NaN,NaN,Eat
2,2/25/2020 5:03:30,"Rafael, Angelique",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Video 1, Video 2, Video 3","Video 1, Video 2, Video 3",NaN,NaN,NaN,NaN,NaN,Drink

In [5]:
# Make a Copy of Original Data
# copy will be the processable data
# intent_data will remain as the raw data
copy = intent_data.copy(deep=True)
copy.head()

,Timestamp,"Name (Format: Arciaga, Jerico)",001 Task 1 Gazed Objects [backpack],001 Task 1 Gazed Objects [umbrella],001 Task 1 Gazed Objects [tennis racket],001 Task 1 Gazed Objects [utensils],001 Task 1 Gazed Objects [bowl],001 Task 1 Gazed Objects [bottle],001 Task 1 Gazed Objects [cup],001 Task 1 Gazed Objects [fruits],...,001 Task 6 Gazed Objects [utensils],001 Task 6 Gazed Objects [bowl],001 Task 6 Gazed Objects [bottle],001 Task 6 Gazed Objects [cup],001 Task 6 Gazed Objects [fruits],001 Task 6 Gazed Objects [sandwich],001 Task 6 Gazed Objects [laptop],001 Task 6 Gazed Objects [clock],001 Task 6 Gazed Objects [book],001 Task 6 Task Category
0,2/24/2020 3:47:28,"Quiatchon, Pauline Rose",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Video 1, Video 2, Video 3","Video 1, Video 2, Video 3",NaN,NaN,NaN,NaN,NaN,Drink
1,2/24/2020 6:35:26,"Adamos, Jedd",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Video 1, Video 2, Video 3",NaN,"Video 1, Video 2, Video 3","Video 1, Video 2, Video 3",NaN,NaN,NaN,NaN,NaN,Eat
2,2/25/2020 5:03:30,"Rafael, Angelique",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Video 1, Video 2, Video 3","Video 1, Video 2, Video 3",NaN,NaN,NaN,NaN,NaN,Drink

In [6]:
# Set all NaN to zero
copy = copy.fillna(int(0))
copy

,Timestamp,"Name (Format: Arciaga, Jerico)",001 Task 1 Gazed Objects [backpack],001 Task 1 Gazed Objects [umbrella],001 Task 1 Gazed Objects [tennis racket],001 Task 1 Gazed Objects [utensils],001 Task 1 Gazed Objects [bowl],001 Task 1 Gazed Objects [bottle],001 Task 1 Gazed Objects [cup],001 Task 1 Gazed Objects [fruits],...,001 Task 6 Gazed Objects [utensils],001 Task 6 Gazed Objects [bowl],001 Task 6 Gazed Objects [bottle],001 Task 6 Gazed Objects [cup],001 Task 6 Gazed Objects [fruits],001 Task 6 Gazed Objects [sandwich],001 Task 6 Gazed Objects [laptop],001 Task 6 Gazed Objects [clock],001 Task 6 Gazed Objects [book],001 Task 6 Task Category
0,2/24/2020 3:47:28,"Quiatchon, Pauline Rose",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,"Video 1, Video 2, Video 3","Video 1, Video 2, Video 3",0.0,0.0,0.0,0.0,0.0,Drink
1,2/24/2020 6:35:26,"Adamos, Jedd",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"Video 1, Video 2, Video 3",0.0,"Video 1, Video 2, Video 3","Video 1, Video 2, Video 3",0.0,0.0,0.0,0.0,0.0,Eat
2,2/25/2020 5:03:30,"Rafael, Angelique",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,"Video 1, Video 2, Video 3","Video 1, Video 2, Video 3",0.0,0.0,0.0,0.0,0.0,Drink

In [7]:
# Set all 
copy.iloc[:,:10].head()

,Timestamp,"Name (Format: Arciaga, Jerico)",001 Task 1 Gazed Objects [backpack],001 Task 1 Gazed Objects [umbrella],001 Task 1 Gazed Objects [tennis racket],001 Task 1 Gazed Objects [utensils],001 Task 1 Gazed Objects [bowl],001 Task 1 Gazed Objects [bottle],001 Task 1 Gazed Objects [cup],001 Task 1 Gazed Objects [fruits]
0,2/24/2020 3:47:28,"Quiatchon, Pauline Rose",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2/24/2020 6:35:26,"Adamos, Jedd",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2/25/2020 5:03:30,"Rafael, Angelique",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
copy.iloc[0,:]

Timestamp                                         2/24/2020 3:47:28
Name (Format: Arciaga, Jerico)              Quiatchon, Pauline Rose
001 Task 1 Gazed Objects [backpack]                               0
001 Task 1 Gazed Objects [umbrella]                               0
001 Task 1 Gazed Objects [tennis racket]                          0
                                                     ...
001 Task 6 Gazed Objects [sandwich]                               0
001 Task 6 Gazed Objects [laptop]                                 0
001 Task 6 Gazed Objects [clock]                                  0
001 Task 6 Gazed Objects [book]                                   0
001 Task 6 Task Category                                      Drink
Name: 0, Length: 80, dtype: object

In [9]:
# Mapping of name to observer
codename = {
    'Quiatchon, Pauline Rose': '001',
    'Adamos, Jedd': '002',
    'Rafael, Angelique': '003'
}

In [10]:
# Check how many videos exist
check_exist = ['Video 1', 'Video 2', 'Video 3', 'Video 4']

# Insert code here for searching if any of the videos exist

In [18]:
# Create master data which would be the resulting final data
features = ['subject','critic','backpack','umbrella','racket','utensils','bowl','bottle','cup','fruits','sandwich','laptop','clock','book','task',]
master_data = pd.DataFrame(columns=features)

In [12]:
# Get a single observer
observer = copy.iloc[0,:]
observer.head(15)

Timestamp                                         2/24/2020 3:47:28
Name (Format: Arciaga, Jerico)              Quiatchon, Pauline Rose
001 Task 1 Gazed Objects [backpack]                               0
001 Task 1 Gazed Objects [umbrella]                               0
001 Task 1 Gazed Objects [tennis racket]                          0
001 Task 1 Gazed Objects [utensils]                               0
001 Task 1 Gazed Objects [bowl]                                   0
001 Task 1 Gazed Objects [bottle]                                 0
001 Task 1 Gazed Objects [cup]                                    0
001 Task 1 Gazed Objects [fruits]                                 0
001 Task 1 Gazed Objects [sandwich]                               0
001 Task 1 Gazed Objects [laptop]                                 0
001 Task 1 Gazed Objects [clock]                                  0
001 Task 1 Gazed Objects [book]                                   0
001 Task 1 Task Category                               Undetermined
Name: 0, dtype: object

In [37]:
# Get range per task
ranges = [  [i for i in range(2,15)],
            [i for i in range(15,28)],
            [i for i in range(28,41)],
            [i for i in range(41,54)],
            [i for i in range(54,67)],
            [i for i in range(67,80)]]
task_range = ranges[2]
task_range

# for listing in ranges:
#     print("---------------------------")
#     print(observer[listing])

[28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [14]:
# Extract a single task
task_data = observer[task_range]
task_data

001 Task 3 Gazed Objects [backpack]                        0
001 Task 3 Gazed Objects [umbrella]                  Video 2
001 Task 3 Gazed Objects [tennis racket]    Video 1, Video 4
001 Task 3 Gazed Objects [utensils]                        0
001 Task 3 Gazed Objects [bowl]                            0
001 Task 3 Gazed Objects [bottle]                          0
001 Task 3 Gazed Objects [cup]                             0
001 Task 3 Gazed Objects [fruits]                          0
001 Task 3 Gazed Objects [sandwich]                        0
001 Task 3 Gazed Objects [laptop]           Video 2, Video 3
001 Task 3 Gazed Objects [clock]                     Video 1
001 Task 3 Gazed Objects [book]                            0
001 Task 3 Task Category                         Spontaneous
Name: 0, dtype: object

In [15]:
# Iterate on a single column and check how many videos exist
def getTotalRows(task):
    total_new_rows = 2
    for val in task:
        if (val != 0):
            if check_exist[3] in val.split(', '):
                total_new_rows = 4
                break
            elif check_exist[2] in val.split(', '):
                total_new_rows = 3
            elif (check_exist[1] in val.split(', ')) and total_new_rows != 3:
                total_new_rows = 2

    return total_new_rows

In [16]:
num_rows = getTotalRows(task_data)
num_rows

4

In [17]:
# task_rows 
# task_rows data contains all the data per task of the observer
tasks = []

# for i in range(num_rows):
# insert code here

In [34]:
# Get single video data
vid = 'Video 1'
vid_data = {}
vid_data['subject'] = csv_name
vid_data['critic'] = codename[observer[1]]
for feature,data in zip(features[2:14],task_data[:12]):
    if vid in str(data).split(', '):
        vid_data[feature] = 1
    else:
        vid_data[feature] = 0

vid_data['task'] = task_data[12]
vid_data

{'subject': '001',
 'critic': '001',
 'backpack': 0,
 'umbrella': 0,
 'racket': 1,
 'utensils': 0,
 'bowl': 0,
 'bottle': 0,
 'cup': 0,
 'fruits': 0,
 'sandwich': 0,
 'laptop': 0,
 'clock': 1,
 'book': 0,
 'task': 'Spontaneous'}

In [23]:
import pandas as pd
import numpy as np
import os

# Iterate on a single column and check how many videos exist
def getTotalRows(task):
    total_new_rows = 2
    for val in task:
        if (val != 0):
            if check_exist[3] in str(val).split(', '):
                total_new_rows = 4
                break
            elif check_exist[2] in str(val).split(', '):
                total_new_rows = 3
            elif (check_exist[1] in str(val).split(', ')) and total_new_rows != 3:
                total_new_rows = 2

    return total_new_rows


root_dir = '../dsp_intent_analyzer_dataset/forms'

csv_filenames = ['001',
                '002',
                '003']

codename = {
    'Quiatchon, Pauline Rose': '001',
    'Adamos, Jedd': '002',
    'Rafael, Angelique': '003'}

gt_tasks = { '001': {'Task1': 'Undetermined', 'Task2': 'Eat', 'Task3': 'Spontaneous', 'Task4': 'Go Outside', 'Task5': 'Study', 'Task6': 'Drink'},
            '002': {'Task1': 'Eat', 'Task2': 'Spontaneous', 'Task3': 'Drink', 'Task4': 'Study', 'Task5': 'Undetermined', 'Task6': 'Go Outside'},
            '003': {'Task1': 'Go Outside', 'Task2': 'Drink', 'Task3': 'Study', 'Task4': 'Spontaneous', 'Task5': 'Undetermined', 'Task6': 'Eat'}
          }



# Check how many videos exist
check_exist = ['Video 1', 'Video 2', 'Video 3', 'Video 4']

# Range of tasks
task_ranges = [  [i for i in range(2,15)],
            [i for i in range(15,28)],
            [i for i in range(28,41)],
            [i for i in range(41,54)],
            [i for i in range(54,67)],
            [i for i in range(67,80)]]

# Create data which would be the resulting final data
cols = ['subject','observer','backpack','umbrella','racket','utensils','bowl','bottle','cup','fruits','sandwich','laptop','clock','book','human_task','gt_task']
master_data = pd.DataFrame(columns=cols)
error_data = []

for name in csv_filenames:
    subject = name
    csv_file = os.path.join(root_dir,f'{subject}.csv')
    subject_data = pd.read_csv(csv_file)

    # Set all NaN to 0
    # copy = subject_data.copy(deep=True)
    subject_data.fillna(0)
    
    for num_observer in range(len(subject_data)):
        observer = subject_data.iloc[num_observer,:]
        observer_proc_data = pd.DataFrame(columns=cols)
        
        for num_task,task_range in enumerate(task_ranges):
            task_data = observer[task_range].fillna(0)
            num_rows = getTotalRows(task_data)
            tasks = []
            
            for video_iter in range(num_rows):
                # Initialize an instance
                # Each instance contains a video and its labels
                vid_data = {}
                vid_data['subject'] = subject
                vid_data['observer'] = codename[observer[1]]
                vid = check_exist[video_iter]
                
                for col,data in zip(cols[2:15],task_data[:13]):
                    if vid in str(data).split(', '):
                        vid_data[col] = 1
                    else:
                        vid_data[col] = 0
                
                vid_data['human_task'] = task_data[12]
                vid_data['gt_task'] = gt_tasks[subject][f'Task{num_task+1}']
                if gt_tasks[subject][f'Task{num_task+1}'] != task_data[12]:
                    error_data.append((subject, codename[observer[1]], num_task+1))
                
                tasks.append(vid_data)
    

            observer_proc_data = observer_proc_data.append(pd.DataFrame(tasks), ignore_index=True)

        
        master_data = master_data.append(observer_proc_data, ignore_index=True)
        
print(len(master_data))

151

In [24]:
len(error_data)/len(master_data)

0.15894039735099338

In [28]:
## Referential Codes
# One-Hot Encoding for Title
title_dummies = pd.get_dummies(combined['Title'], prefix='Title')
# title_dummies.head()
combined = pd.concat([combined, title_dummies], axis=1)
combined = combined.drop(columns='Title')
# combined.head()

array(['Undetermined', 'Eat', 'Spontaneous', 'Go Outside', 'Study',
       'Drink'], dtype=object)